
#mySidebar {
    height: 100%;
    width: 250px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    padding: 10px;
}

#authbox {
   display:flex;
   justify-content:space-around;
   align-items:center;

}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    /* text-align: right; */
}

input {
  display: inline-block;
}
